<div class="page-tables">
  <div class="table-responsive">
    <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%">
      <thead>
        <tr>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for row in data %}
        <tr>
          {% for field in row %}
            <td>{{ field|safe|truncatechars:80 }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="clearfix"></div>
  </div>
</div>
