{% extends 'base.html' %}

{% block body %}
<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="fa fa-lock"></i> Login 
              </div>

              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <!-- Username -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="id_username">Username</label>
                      <div class="col-lg-9">
                        <input name="username" type="text" class="form-control" id="id_username" placeholder="Username">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">Password</label>
                      <div class="col-lg-9">
                        <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                      </div>
                    </div>
                    {% comment %}
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
						</div>
					</div>
					</div>
                    {% endcomment %}
                        <div class="col-lg-9 col-lg-offset-3">
							<button type="submit" class="btn btn-info btn-sm">Sign in</button>
							<button type="reset" class="btn btn-default btn-sm">Reset</button>
						</div>
                    <br />
                  </form>
				  
				</div>
                </div>
              
                {% comment %}
                <div class="widget-foot">
                  Not Registred? <a href="#">Register here</a>
                </div>
                {% endcomment %}
            </div>  
      </div>
    </div>
  </div> 
</div>
{% endblock %}
